<h3>{{ videoInfo? videoInfo.title : "Adjusting the Antenta" }}</h3>
<div style="text-align: center;  height: 240px;">
  <button
    *ngIf="showBack"
    class="btn btn-primary btn-lg"
    style="height: 240px; width: 100px; position:absolute; left:0;"
    (click)="handleBackClick()"
  >
    Back
  </button>
  <img *ngIf="!videoInfo" src="assets/Images/static.gif" />
  <video
    *ngIf="videoInfo"
    #videoPlayer
    width="320"
    height="240"
    [src]="videoInfo?.src"
    controls
    (play)="sendElementFullscreen($event)"
    (ended)="removeElementFromFullscreen($event)"
  ></video>
  <a *ngIf="videoInfo" [href]="getVlcLink()">
    <img
      src="assets/Images/vlc.png"
      style="vertical-align: top; width: 64px;"
    />
  </a>
  <button
    *ngIf="showNext"
    class="btn btn-primary btn-lg"
    style="height: 240px; width: 100px; position:absolute; right:0;"
    (click)="handleNextClick()"
  >
    Next
  </button>
</div>
